# Project exclude paths
/target/
.idea/
ncshoponline.iml
src/main/webapp/WEB-INF/static/node_modules
src/main/webapp/WEB-INF/view/403.jsp
src/main/webapp/WEB-INF/view/categories.jsp
src/main/webapp/WEB-INF/view/login.jsp
src/main/webapp/WEB-INF/view/logout.jsp
src/main/webapp/WEB-INF/view/main.jsp
src/main/webapp/WEB-INF/view/products.jsp
src/main/webapp/WEB-INF/view/register.jsp
